h1{
    position: relative;
    padding: 0.5em;
    background: #a6d3c8;
    color: white;
}

h1::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
}
p{

}

.container {
    display: flex;
    flex-wrap: wrap;

}

ul {

}

.dice_name{
    font-size: 20px;
    text-align: center;
}

.dice_id{
    font-size: 12px;
    text-align: center;
}

.dice_number{
    font-size: 150px;
    text-align: center;
}

.edit_button{
    position: absolute;
    top: 0;
    left: 0;
}

.fas{
    background:none;
    border:0;
}


.item {
    position: relative;
    color: #666; /* 文字色 */
    background-color: #f7f7f7; /* 背景色 */
    border: 1px solid #ccc; /* 枠線 */
    height: 250px;
    width: 250px;

}


